@header-green: #BAC7AB;
@theme-black-color: #222222;

.main-content{
  .members-section {
      text-align: center;
      .search-members-section{
        padding: 0;
        // border: 1px solid orange;
        height:250px;
        .search-members-header{
          text-align: left;
          display: block;
          padding: 1px 5px 10px 35px;
          background: @header-green;
        }
        //end:search-members-header
        .search-members-content{
          padding: 5px 0px;
          .btn-black{
            border: none;
            background: @theme-black-color;
          }
        }
        //end:search-members-content
      }
      //end:search-members-section
  }
  //end:members-section
}
//end:main-content
