@header-green: #BAC7AB;
@theme-black-color: #222222;
@table-border:#DDDDDD;

.main-content{
  .members-section {
    .btn-black-members-buttons{
      height: 70px;
      border: 4px solid @theme-black-color;
      background: @header-green;
      color: @theme-black-color;
    }
    .center-div{
      float: none;
      margin: 0 auto;
    }
    
    .center-div-td{
      text-align: center;
      float: none;
      margin: 0 auto;
    }
    .dashboard-panels {
        padding: 0;
        margin: 5px 4%;
        height: 240px;
        border: 5px solid black;
        -webkit-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);

        .dashboard-header {
            background: @common-links-color;
            position: relative;
            top:-35px;
            display: block;
            height: 45px;
            padding: 1px 2px 15px;
        }
        //end:dashboard-header

        .dashboard-badge{
          z-index: 1000;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          top:-20px;
          left: 50%;
          width: 35px;
          height: 35px;
          background: @theme-black-color;

          img.add-icon{
            position: relative;
            top: 4px;
            display: inline-block;
            width: 70%;
            height: auto;
          }
          //end:add-icon
        }

        .dashboard-content {
            padding: 10px 0;
        }
        //end:dashboard-content
    }
    //end:dashboard-panels
      text-align: center;
      .search-members-section{
        padding: 0;
        // border: 1px solid orange;
        height:250px;
        .search-members-header{
          text-align: left;
          display: block;
          padding: 1px 5px 10px 35px;
          background: @header-green;
        }
        //end:search-members-header
        .search-members-content{
          padding: 5px 0px;
          .btn-black{
            border: none;
            background: @theme-black-color;
          }
        }
      }
      //end:search-members-content
      //end:search-members-section
      //end:members-table
  }
  //end:members-section
  //TODO: PAJ - Complete Members table styling
  div.members-table{
    // border: 1px solid red;
    height: 500px;
    padding: 0;
    div.members-headers{
      height: 50px;
      background: @theme-black-color;
      text-align: center;
      color: white;
      a{
        color: white;
        span{
          font-size: 50px;
          position: relative;
          top:-1px;
        }
        span.members-headers-nav{
          font-size: 20px;
          position: relative;
          top:-17px;
        }
        //end:Span
      }
      //end:a
    }
    //end:members-headers
    table.members-cell{
      thead{
        th{
          text-align: center;
          cursor: pointer;
          .search-input-serial{
            padding: 4px;
            width: 35px;
          }
        }
        //end:th
      }
      //end:thead
      tbody{
        border: 1px solid @table-border;
        tr{
          height: 10px;
        }
        td{
          cursor: pointer;
          text-align: center;
          padding-bottom: 0px;
          // height: 20px;
          position: relative;
          top: 10px;
          button.table-button{
            display: inline-block;
            position: relative;
            top:-10px;
            border: none;
            background:@theme-black-color;
          }
          //end:table-button
        }
        //end:td
      }
      //end:tbody
      a.dentist-icon{
        cursor: pointer;
        display: inline;
        position: relative;
        top:-15px;
        width: 70px;
        height: 70px;
        // border: 1px solid @theme-black-color;
        img{
          font-size: 20px;
          display: inline-block;
        }
      }
      //end:.dentist-icon
    }
    //end:members-cell
  }
  //end:members-table
}
//end:main-content
