<div class="alert-modal-class">
    <div class="modal-header">
        <h3 class="modal-title" ng-bind="title"></h3>
    </div>
    <div class="modal-body col-lg-12">
      <div class="col-lg-12 modal-body-header">
        <div class="col-lg-10"><h3 ng-bind="rowObj.memberName"></h3></div>
        <div class="col-lg-2"><button ng-if="!isEditField" class="btn btn-default" ng-click="showEditField(true)"><span class="glyphicon glyphicon-pencil"></span>Edit</button></div>
      </div>
      <div ng-if="!isEditField" class="col-lg-12">
        <p> <strong>Member ID: </strong> {{rowObj.memberDetails}} </p>
        <p> <strong>Patient Name: </strong> {{rowObj.patientName}} </p>
        <p> <strong>Contact Number: </strong>{{rowObj.contactNumber}}</p>
        <p> <strong>Current Status: </strong>{{rowObj.status}}</p>
        <p> <strong>Description: </strong>{{rowObj.description}}</p>
        <p> <strong>Start Date: </strong>{{rowObj.startDate}}</p>
        <p> <strong>Total Treatment Cost: </strong>{{rowObj.total_treatment_cost}}</p>
        <p> <strong>Total Installation Payment: </strong>{{rowObj.total_ins_payment}}</p>
        <p> <strong>Total Co Payment: </strong>{{rowObj.total_co_payment}}</p>
        <p> <strong>Total Members Payment: </strong>{{rowObj.total_members_payment}}</p>
      </div>
      <div ng-if="isEditField" class="col-lg-12">
        <p> <strong>Member ID:</strong> <input type="text" class="form-control" placeholder="Enter Member ID"/> </p>
        <p> <strong>Patient Name:</strong> <input type="text" class="form-control" placeholder="Enter Patient Name"/></p>
        <p> <strong>Contact Number: </strong> <input type="text" class="form-control" placeholder="Enter Contact Number"/></p>
        <p> <strong>Current Status: </strong> <input type="text" class="form-control" placeholder="Enter Current Status"/></p>
        <p> <strong>Description: </strong> <input type="text" class="form-control" placeholder="Enter Description"/></p>
        <p> <strong>Start Date: </strong> <input type="text" class="form-control" placeholder="Enter Start Date"/></p>
        <p> <strong>Total Treatment Cost: </strong> <input type="text" class="form-control" placeholder="Enter Total Treatment Cost"/></p>
        <p> <strong>Total Installation Payment: </strong> <input type="text" class="form-control" placeholder="Enter Total Installation Payment"/></p>
        <p> <strong>Total Co Payment: </strong> <input type="text" class="form-control" placeholder="Enter Total Co Payment"/></p>
        <p> <strong>Total Members Payment: </strong> <input type="text" class="form-control" placeholder="Enter Total Members Payment"/></p>
      </div>
    </div><!-- end:modal-body -->
    <div class="modal-footer">
        <div class="col-xs-12 text-center">
            <a class="btn btn-default" ng-click="onConfirm()" href="javascript:void(0)">OK</a>
            <a ng-if="isEditField" class="btn btn-default" ng-click="showEditField(false)">Cancel</a>
        </div>
    </div>
</div>
